body{
    background-color: rgb(165, 159, 159);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: #c0bfbe;
    text-align: center;
   gap: 500px;
   }
   
   li {
    float: left;
    color: #000;
    text-align: center;
    }
   
    a {
    display: block;
    padding: 8px;
    background-color: #c0bfbe;
   text-align: center;
   text-decoration: none;
    }
      
   

.centrar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
   }
   .derecha {
    float: right;
    padding: 20px;
    border: 15 solid black;
   }
   .izquierda {
    float: left;
    padding: 20px;
    border: 15 solid black;
    
   }
   p{
    color: aliceblue;
    padding: 50px;
   
   }
   footer{
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 5px;
 text-align: center;
   }
   h2{
    padding: 5px;
    border-radius: 15px;
    color: rgb(255, 98, 98);
   }
.color{
    color: red;
}
h1{
    text-align: center;
}

div{
    display: block;
    unicode-bidi: isolate;
}